* {
    box-sizing: border-box;

    padding: 0;
    margin: 0;
}

html {
    font-size: 18px;
}

body {
    font-family: 'Popping', sans-serif;
    line-height: 1.55;
    color: rgb(60, 58, 71);
}

h1 {
    font-size: 1.5rem;
    font-weight: 700;
}

h2 {
    font-size: 1rem;
    font-weight: 400;
}

.attribution {
    font-size: 0.7rem;
}

body {
    width: 30%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}